header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

#center {
    text-align: center;
    height: 200%;
    position: relative;
}
.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.call {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*image*/
.me {
    width:30rem;
    height:30rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top:1rem;
    overflow: hidden;
    border: 1px solid var(--color-white);
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

.socials {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left:0;
    bottom: 3rem;
}

.socials::after{
    content:"";
    width:1px;
    height:2rem;
    background: var(--color-primary);
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        background: transparent;
        color: var(--color-white);
    }
    header {
        height: 68vh;
    }

    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 650px) {

    section>h2 {
        margin-bottom: 2rem;
    }
}